header {
    height: 2.5cm;
    width: 100%;
    background-color: #007bff; /* Колір фону */
    display: flex;
    position: fixed; /* Закріплений на екрані */
    align-items: center;
    justify-content: space-around; /* Вирівнюємо контейнер на всю ширину */
    top: 0; /* Залишаємо його на верхній частині екрану */
    z-index: 2; /* Підвищений індекс, щоб перекривати інші елементи */
}
/* Стиль для навігаційних комірок в header */
.header-cell {
    width: 100px; /* Ширина комірки */
    height: 40px; /* Висота комірки */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none; /* Прибирає підкреслення */
    transition: background-color 0.3s; /* Додаємо перехід */
}
/* Ефект наведеня для header-cell */
.header-cell:hover {
    background-color: #0056b3; /* Темніший відтінок */
}