/* General Styles */
body {
    color: white; /* White text */
    background-color: #1e1e1e; /* Dark background */
}

/* Code block styles */
.code-container {
    background-color: #000000; /* Black background for code blocks */
    color: white; /* White text */
    padding: 20px;
    border-radius: 5px;
    position: relative; /* For placing the copy button */
    overflow: auto;
}

/* Copy button style */
.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border: 2px;
    border: #fff;
    background-color: #158e5d;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.5s;
}

.copy-button:hover {
    background-color: #fff;
    color: #000;
}

/* Main content styling */
main {
    padding: 20px;
    margin-left: 200px; /* Space for navigation */
}

/* Основний контент */
#mainContent {
    margin-left: 0.5cm;
    transition: margin-left 0.3s;
}

#mainContent.active-content {
    margin-left: 6cm;
}

/* Section styling */
section {
    margin-bottom: 40px;
}

section h3 {
    font-size: 24px;
    color: #158e5d;
}

section p {
    font-size: 16px;
}
