main {
    padding: 20px;
}

.content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 100%;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-content {
    text-align: center;
    color: #ffffff;
}

.text-content h1 {
    margin: 0;
    font-size: 2.5em;
}

.text-content p {
    margin-top: 10px;
    font-size: 1.2em;
}

.algorithms-section {
    width: 100%;
}

.algorithm-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #000000;
    text-align: center;
}

.card1 {
    background-color: #A8E6CF;
}

.card2 {
    background-color: #B9E4D6;
}

.card3 {
    background-color: #C4E3D0;
}

.card4 {
    background-color: #D0E2CA;
}

.card5 {
    background-color: #F5E6CC;
}

.algorithm-card h2 {
    margin: 0;
    font-size: 1.8em;
    flex: 1;
}

.algorithm-card p {
    margin: 50px;
    font-size: 1em;
    flex: 2;
    text-align: center;
}

.laboratory-section {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.laboratory-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.laboratory-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.video-container {
    height: 450px;
    width: 700px;
    margin: 0 auto;
    background-color: #F5F5F5;
    border: 2px dashed #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1e1e1e;
    font-size: 1.5em;
}
