a:hover {
    color: #ffffff;
    text-decoration: none;
}
body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(to bottom, #393939, #1e1e1e);
    color: #ffffff;
}